/*  appunti:
    - my-content-1 ecc sono classi che hanno caratteristiche specifiche, ma vengono richimate solo all'interno delle specifiche sezioni. ho usato classi e non id perchè mi faceva comodo che avessero lo stesso nome, perchè vogliono dire la stessa cosa anche se hanno caratteristiche diverse (magari è comodo che una sia display flex e un'altro no) */

/* selettori preliminari */
body {
    font-family: 'Lato', sans-serif;
}
/* /selettori preliminari */

/* selettori generici */
.my-wrapper {
    width: 70%;
    min-width: 800px;
    height: 100%;
    margin: 0 auto;
}

[class*="my-button-"] {
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: white;
}
.my-button-orange {
    background-color: #fe6601;
    border: none;
}
.my-button-transparent {
    background-color: transparent;
    border: 2px solid white;
}

.my-standard-title {
    text-align: center;
    margin: 20px 0 40px;
}
.my-standard-title h1 {
    color: #554e9e;
}
.my-standard-title h5 {
    color: grey;
}

.my-welcome-element {
    text-align: center;
}
.my-welcome-element div {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin: 0 auto;
}
.my-welcome-element:nth-child(2n + 1) div {
    background-color: #fe6601;
}
.my-welcome-element:nth-child(2n + 0) div {
    background-color: #554e9e;
}
.my-welcome-element div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.my-welcome-element h4 {
    text-transform: capitalize;
    color: #554e9e;
    font-weight: bold;
}
.my-welcome-element p {
    color: grey;
}
/* /selettori generici */

/* selettori specifici */
header #my-header-nav {
    height: 80px;
    background-color: white;
}
header #my-header-logo {
    height: 100%;
}
header .my-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header ul {
    /* bootstrap dice 10px */
    margin-bottom: 0;
}
header ul li {
    display: inline-block;
    height: 100%;
}
header ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 10px 20px;
    text-transform: capitalize;
    color: #554e9e;
}
header ul li:hover,
header ul li.active {
    background-color: #fe6601;
}
header ul li:hover a,
header ul li.active a {
    color: white;
}
header ul li:hover a img,
header ul li.active a img {
    object-position: 50% -25px;
}
header ul li a:hover {
    text-decoration: none;
}
header ul li a div {
    height: 25px;
    width: 25px;
    overflow: hidden;
}
header ul li a img {
    width: 100%;
    object-position: 50% 0%;
}

main #my-jumbotron {
    position: relative;
    background-size: contain;
}
main #my-jumbotron #my-jumbotron-background-icons img {
    position: absolute;
    height: 13%;
}
main #my-jumbotron #my-jumbotron-background-icons img:nth-child(1) {
    position: absolute;
    top: 9%;
    left: 37%;
}
main #my-jumbotron #my-jumbotron-background-icons img:nth-child(2) {
    position: absolute;
    top: 9%;
    left: 45%;
}
main #my-jumbotron #my-jumbotron-background-icons img:nth-child(3) {
    position: absolute;
    top: 11%;
    left: 55%;
}
main #my-jumbotron #my-jumbotron-background-icons img:nth-child(4) {
    position: absolute;
    height: 7%;
    top: 25%;
    left: 43%;
}
main #my-jumbotron #my-jumbotron-background-icons img:nth-child(5) {
    position: absolute;
    top: 22%;
    left: 49%;
}
main #my-jumbotron #my-jumbotron-background-imgs img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
main #my-jumbotron #my-jumbotron-background-imgs img:nth-child(2) {
    height: 90%;
    left: 50%;
}
main #my-jumbotron #my-jumbotron-background-imgs img:nth-child(1) {
    height: 80%;
    right: 10%;
}
main #my-jumbotron [class*="my-content-"] {
    height: 400px;
    display: flex;
}
main #my-jumbotron .my-content-1 {
    flex-direction: column;
    justify-content: center;
}
main #my-jumbotron .my-content-1 h2 {
    font-family: 'Handlee', cursive;
    color: #fe6601;
    text-transform: capitalize;
    margin: 5px 0;
}
main #my-jumbotron .my-content-1 h1 {
    text-transform: capitalize;
    margin: 0;
    color: #554e9e;
}
main #my-jumbotron .my-content-1 h1:nth-child(2) {
    font-weight: 900;
}
main #my-jumbotron .my-content-1 h1:nth-child(3) {
    font-weight: 300;
}
main #my-jumbotron .my-content-1 button {
    margin: 20px 0;
}
main #my-jumbotron .my-content-2 {
    align-items: flex-end;
}
main #my-jumbotron .my-content-2 div {
    height: 10px;
    width: 30px;
    margin: 5px;
    margin-bottom: 20px;
    border: 2px solid #fe6601;
}
main #my-jumbotron .my-content-2 div.active {
    margin-bottom: 30px;
}
main #my-jumbotron .my-content-1 button {
    width: max-content;
}

/* con questo faccio sia enroll che gallery */
main .my-stripe {
    height: 80px;
    background-color: #554e9e;
    color: white;
}
main .my-stripe .my-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
main .my-stripe h3 {
    margin: 0;
}
main .my-stripe button div {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    height: 15px;
    width: 10px;
    vertical-align: middle;
    overflow: hidden;
}
main .my-stripe button img {
    position: absolute;
    left: -10px;
    top: -8px;
    transform: rotate(90deg);
    height: 30px;
    width: 30px;
}
/* /con questo faccio sia enroll che gallery */

main #welcome {
    background-color: white;
    margin-bottom: 40px;
}

main #overview {
    background-color: lightsalmon;
}
main #overview .my-row {
    height: 400px;
}
main #overview .my-content-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main #overview .my-content-1 > * {
    margin: 0;
    padding: 0;
}

main #classes {
    background-color: lightgrey;
}
main #classes [class*="my-content-1-"] {
    position: relative;
    height: 100px;
    margin-bottom: 20px;
}
main #classes .my-content-1-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: maroon;
}
main #classes .my-content-1-right {
    background-color: mediumaquamarine;
}
main #classes .my-content-1-right button {
    position: absolute;
    right: 0;
    bottom: 0;
}
main #classes .my-content-2 {
    display: flex;
    justify-content: space-around;
}

main #goal {
    background-color: mediumslateblue;
}
main #goal .my-row {
    height: 400px;
}
main #goal .my-content-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main #goal .my-col {
    height: 200px;
}

main #images {
    height: 200px;
    background-color: black;
}

/* gallery è insieme a enroll */

main #slider {
    height: 300px;
    background-color: mediumspringgreen;
}
main #slider .my-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main #slider hr {
    width: 50px;
    border: 1px solid black;
}

main #new {
    background-color: mediumvioletred;
}
main .col-xs-4 {
    background-color: olivedrab;
}

footer #map {
    position: relative;
}
footer #map img {
    width: calc(100% / 7);
    float: left;
}
footer #map > div:not(:first-child) {
    position: absolute;
}
footer #map #satellite {
    bottom: 0;
}
footer #map #zoom {
    right: 0;
    bottom: 0;
}

footer #contacts {
    background-color: orange;
}
footer #contacts .my-row,
footer #contacts textarea {
    height: 200px;
}
footer #contacts textarea {
    width: 100%;
}
footer #contacts .col-xs-3 {
    background-color: orchid;
}
footer #contacts .my-content-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* /selettori specifici */